---
layout: default
search_omit: true
---
<!DOCTYPE html>
<html>	
  <body>
	
    {% include search.html %} 
	  
	  <div style="margin:50px 0">
		   {% include categories.html %} 
	  </div>
	
    <h2 style="text-align:center">All Posts</h2>	  
    <div class="container">
	   	{% for post in site.posts %}
		<a href="{{ post.url }}">    
	    	<h3>{{ post.title }}</h3> 
		<p>{{ post.content | strip_html | truncatewords:100 }}</p>
		<p>{{ post.date | date: "%b %d, %Y" }}</p><p class="readtime" style="text-align:right">{{ post.content | number_of_words | divided_by: 180 | plus: 1 | append: " minute read" }}</p>
		</a>
	
		{% endfor %} 		    
    </div>
  </body>	
</html>
