---
layout: default
---
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
	<title>Growth Marketing Blog from Ruben Portz</title>
    <style>
      .container {
        max-width: 1400px;
        max-width: 75%;
        margin: 0 auto;
        font-family: Arial, Helvetica, sans-serif;
      }
     
	
    </style>
   {% include header.html %}
  </head>

  <body>
    <div class="container">
	    
				  <div>
		  {% for post in site.posts limit: 3 %}
		     <h2><a href="{{ post.url }}">{{ post.title }}</a> </h2>
		  {% endfor %}
		</div>
		<div>
		  {% for post in site.posts limit: 2 offset: 3 %}
		    <h2> <a href="{{ post.url }}">{{ post.title }}</a> </h2>
		  {% endfor %}
		</div>
	    	<div>
		  {% for post in site.posts limit: 3 offset: 3 %}
		    <h2> <a href="{{ post.url }}">{{ post.title }}</a> </h2>
		  {% endfor %}
		</div>
	    
	    
		
	
	</div>
            

      <p>testing
        hello Sean</p>
	    
    </div>
	  

	  
  </body>



  {% include footer.html %}
</html>
