---
layout: default
search_omit: true
---
<!DOCTYPE html>
<html>

  <body>

      <h1 style="text-align:center">Essays on growth engineering, product marketing and startups</h1>
      <!-- <h5 style="text-align:center">Your weekly dose of predictive, marketing, and all things that drive growth.</h5> -->

    <!-- <div style="margin:80px 0 20px">
      {% include categories.html %}
    </div> -->
    <!-- <center>
      <div style="margin:30px 0; display: inline-block;
                  vertical-align: middle; text-align: center;
                  margin: 6em 0 0 0;
                  padding: 0;">
        <a href="#anchor" style="display: inline-block;border-radius: 50%;">
          <span class="bottom"></span>
        </a>
      </div>
    </center> -->
    <div class="container" style="margin:10px 0 50px 0">
     	{% for post in site.posts %}
        <ul>
          <li>
        		<a href="{{ post.url }}">
        	    <h3>{{ post.title }}</h3>
        		</a>
          </li>
        </ul>
  	  {% endfor %}
    </div>
  </body>
</html>
