---
layout: default
---
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <style>
      .container {
        max-width: 1400px;
        max-width: 75%;
        margin: 0 auto;
        font-family: Arial, Helvetica, sans-serif;
        color:green;
      }
    </style>
   {% include header.html %}
  </head>

  <body>
    <div class="container">
      <ul>
        {% for post in site.posts %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>                             

      <p>testing
        hello Sean</p>
    </div>
  </body>



  {% include footer.html %}
</html>
