@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,700|Montserrat:400,500,700');

* {
padding:0;
margin:0;
}

a {
color:#4863A0;
text-decoration:none;
}

a:hover {
color:#c00;
}

#container {
width:800px;
margin:0 auto;
position:relative;
}

#container h1 {
font-size:40px;
font-weight:normal;
letter-spacing:-1px;
width:600px;
padding:20px 0 25px 0;
}

#container h1 a {
color:#222;
text-decoration:none;
}

#container h1 a:hover {
color:#c00;
}


#content {
float:left;
width:600px;
color: #333;
}

#content h2 {
font-size:24px;
margin-bottom: 18px;
line-height: 26px;
font-weight:bold;
letter-spacing:-1px;
color: #333;
}

#content h2 a {
color:#222;
text-decoration:none;
}

#content h2 a:hover {
}

#content h2.archive {
font-weight:normal;
font-size:22px;
color:#1c1c1c;
padding:0;
margin:5px 0 20px 0;
border:none;
text-align:left;
}

.main {font-size: 20px;padding-bottom: 20px;}

.main h3 {
font-size: 20px;
font-weight: bold;
margin:0 0 15px 0;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #fff;
}
