@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,700|Montserrat:400,500,700');

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #fff;
}

h1 {
  color: #222;
  font-size: 24px;
  margin-bottom: 18px;
  line-height: 26px;
  font-weight: bold;
  letter-spacing: -1px;
}
h2,
h3 {
  color: #222;
  font-size: 22px;
  margin-bottom: 18px;
  line-height: 26px;
  letter-spacing: -1px;
}
h4,
h5,
h6 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #000;
    line-height: 1.2;
}
