<style type="text/css">
* {box-sizing: border-box;}
.wrapper {
  max-width: 75%;
  margin: 0 auto;
}

a:link {
    color: black; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.wrapper > div {
  color: black;
}.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1;
  grid-row: 1;
}
.copyright {
  grid-column: 2;
  grid-row: 1;
  font-size:14px;
  vertical-align: middle;
  padding-top:15px;
}
.social {
  grid-column: 3;
  grid-row: 1;
  text-align:center;
}
.disclosure {
  grid-column: 4;
  grid-row: 1;
  text-align:center;
  padding-top:15px;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  margin-top:15px;
  margin-bottom:15px;
}
</style>

<footer>

  <div class="footer">
  <div class="wrapper">
    <div class="footer-logo"><img src="/assets/img/logo.png" alt="Ruben Portz Logo" style="width:250px"></div>
    <div class="copyright">Ruben Portz © 2018. All rights reserved.</div>
    <div class="social"><a href="https://www.linkedin.com/in/rubenportz/">LinkedIn</a><br><br><a href="https://twitter.com/rubenportz?lang=en">Twitter</a>
  <br><br><a href="https://github.com/rubenportz/">Github</a>
  </div>
    <div class="disclosure"><a href="rubenportz.com/disclosure">Disclosure</a>
  </div>
  </div>
     </div>
</footer>


