<style type="text/css">
* {box-sizing: border-box;}
.wrapper {
  max-width: 1400px;
  max-width: 75%;
  margin: 0 auto;
  font-family: $helveticaNeue;
}

a:link {
    color: black; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.wrapper > div {
  color: black;
}.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1;
  grid-row: 1;
}
.copyright {
  grid-column: 2;
  grid-row: 1;
  font-size:12px;
  vertical-align: middle;
  padding-top:15px;
}
.social {
  grid-column: 4;
  grid-row: 1;
  text-align:center;
  padding-top:15px;
  font-weight: bold;
  font-size:14px;
  align:left;
}

</style>



  <div id="footer">
       
    <div class="wrapper">
      <div class="footer-logo"><a href="/"><img src="/images/RUBENPORTZ.png" alt="Ruben Portz Logo" style="width:250px"></a></div>
      <div class="copyright">Ruben Portz &copy; 2017<script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script>. All rights reserved.</div>
      <div class="social">{% include svg-icons.html %}</div>
      {% include analytics.html %}
    </div>
   </div>



