<style>
.button2 {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #2D3236;
    color: white;
    border: 2px solid #2D3236;
    height:26px;
    
}
.button2:hover {
    background-color: white;
    color: #2D3236;
}
</style>


<h2 style="text-align:center">Search all Posts</h2>
  
  <!-- Search form -->
  <center><form method="get" action="/search" data-search-form>
    <input type="search" name="q" id="q" placeholder="e.g. SEO" data-search-input /> <input type="submit" value="Search" class="button2" style="display: block; margin: 0 auto; "/>
  </form></center>

  <!-- Search results placeholder -->
  <p data-search-found>
    <span data-search-found-count></span> result(s) found for &ldquo;<span data-search-found-term></span>&rdquo;.
  </p>
  <div data-search-results></div>



  <!-- Search result template -->
  <script type="text/x-template" id="search-result">
    <div>
      <h3><a href="##Url##">##Title##</a></h3>
    </div>
  </script>

  <!-- jQuery - required but can be moved to the <head> -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <!-- Search script - Must appear after template -->
  <script src="/scripts/search.js"></script>
